Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, hadolint, isort, mypy, pylint, yamlfmt, yamllint

black:
  name: black
  entry: black
  language: system
  stages:
  - commit

hadolint:
  name: hadolint
  language: docker_image
  entry: hadolint/hadolint hadolint

isort:
  name: isort
  entry: isort
  language: system
  stages:
  - commit

mypy:
  name: mypy
  entry: mypy
  args:
  - --no-incremental
  language: system
  stages:
  - commit
  require_serial: true

pylint:
  name: pylint
  entry: pylint
  language: system
  stages:
  - commit

yamlfmt:
  name: yamlfmt
  entry: yamlfmt
  language: system
  stages:
  - commit

yamllint:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system
  stages:
  - commit

fix: Install backend dependencies when running CDK
  .github/workflows/deploy.yml
Due: yamlfmt, yamllint

feat: Use file type to identify Dockerfiles
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

feat: Run Docker lint only at commit stage
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

fix: Wait for all stacks to be torn down
  .github/workflows/test.yml
Due: yamlfmt, yamllint

fix: Install backend dependencies when running CDK (#217)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: yamlfmt, yamllint

refactor: removed networking stack as it no longer defines resources
  app.py
  datalake/constructs/batch_job_queue.py
  datalake/networking_stack.py
  datalake/processing_stack.py
Due: black, isort, mypy, pylint

refactor: added networking_stack in for documentation purposes
  README.md
  datalake/networking_stack.py
Due: black, isort, mypy, pylint

refactor: reverted stack id suffix for s3 buckets
  datalake/staging_stack.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint

fix: rebased and fixed errors
  app.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/utils.py
  datalake/constructs/batch_job_queue.py
Due: black, isort, mypy, pylint

feat: refactored stack and resource names to allow for multiple stacks
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  app.py
  cdk.json
  datalake/api_stack.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/utils.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/constructs/batch_job_queue.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint, yamlfmt, yamllint

fix: fixed isort broken by rebase locally
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: fixed typo in readme
  README.md
Due: none

fix: address PR comments updated readme and renamed variables
  README.md
  datalake/constructs/batch_job_queue.py
Due: black, isort, mypy, pylint

fix: moved index name to a constant in storage stack
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/utils.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint

fix: fixed issue with incorrect import of ResourceName class
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/constructs/task_job_definition.py
Due: black, isort, mypy, pylint

fix: fixed imports
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

fix: moved imports into model class to avoid errors
  datalake/backend/endpoints/datasets/model.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint

fix: fix linting issue
  datalake/api_stack.py
Due: black, isort, mypy, pylint

fix: removed unnecessary bucket name constant
  datalake/backend/tests/test_check_stac_metadata.py
Due: black, isort, mypy, pylint

ci: Allow deployment of multiple stacks (#198)
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  README.md
  app.py
  cdk.json
  datalake/api_stack.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/backend/tests/utils.py
  datalake/constructs/batch_job_queue.py
  datalake/constructs/task_job_definition.py
  datalake/networking_stack.py
  datalake/processing_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
Due: black, isort, mypy, pylint, yamlfmt, yamllint

docs: add lambda endpoints usage documentation (closes #207)
  USAGE.md
Due: none

feat: allow ci stacks to be deployed independently
  .github/workflows/test.yml
  .github/workflows/wait-for-stack-teardown.bash
Due: yamlfmt, yamllint

fix: formatted yaml correctly
  .github/workflows/test.yml
Due: yamlfmt, yamllint

feat: allow ci stacks to be deployed independently (#218)
  .github/workflows/test.yml
  .github/workflows/wait-for-stack-teardown.bash
Due: yamlfmt, yamllint

feat: Improve docker lint pre commit hook (#205)
  .pre-commit-config.yaml
Due: yamlfmt, yamllint

feat: Simplify model serializer
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/serializer.py
  datalake/backend/endpoints/datasets/update.py
Due: black, isort, mypy, pylint

feat: Use PynamoDB built-in model serializer (#214)
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/serializer.py
  datalake/backend/endpoints/datasets/update.py
Due: black, isort, mypy, pylint

fix: Pass bytes as Lambda contexts
  datalake/backend/tests/utils.py
Due: black, isort, mypy, pylint

refactor: Use same parameter names as superclass
  datalake/backend/endpoints/datasets/model.py
Due: black, isort, mypy, pylint

refactor: Remove duplicate function
  datalake/backend/tests/test_processing_stack.py
Due: black, isort, mypy, pylint

fix: Return a JSON-like object rather than boolean
  datalake/backend/processing/validation_failure/task.py
Due: black, isort, mypy, pylint

refactor: Remove unnecessary `yield` and return value
  datalake/backend/tests/conftest.py
Due: black, isort, mypy, pylint

feat: Disallow untyped definitions
  app.py
  datalake/api_stack.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/backend/tests/utils.py
  datalake/networking_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
  datalake/users_stack.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: black, isort, mypy, pylint

Disallow untyped definitions (#215)
  app.py
  datalake/api_stack.py
  datalake/backend/endpoints/datasets/create.py
  datalake/backend/endpoints/datasets/delete.py
  datalake/backend/endpoints/datasets/entrypoint.py
  datalake/backend/endpoints/datasets/get.py
  datalake/backend/endpoints/datasets/list.py
  datalake/backend/endpoints/datasets/model.py
  datalake/backend/endpoints/datasets/update.py
  datalake/backend/endpoints/utils.py
  datalake/backend/processing/check_stac_metadata/task.py
  datalake/backend/processing/content_iterator/task.py
  datalake/backend/processing/validation_failure/task.py
  datalake/backend/processing/validation_summary/task.py
  datalake/backend/tests/conftest.py
  datalake/backend/tests/test_check_stac_metadata.py
  datalake/backend/tests/test_check_stac_metadata_logging.py
  datalake/backend/tests/test_datasets_endpoint.py
  datalake/backend/tests/test_lambda_functions.py
  datalake/backend/tests/test_processing_stack.py
  datalake/backend/tests/test_storage_bucket.py
  datalake/backend/tests/utils.py
  datalake/networking_stack.py
  datalake/staging_stack.py
  datalake/storage_stack.py
  datalake/users_stack.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: black, isort, mypy, pylint

feat: Control dev env reset with flags
  reset-dev-env.bash
Due: none

feat: Control dev env reset with flags (#223)
  reset-dev-env.bash
Due: none

fix: Reintroduce removing untracked Python packages
  reset-dev-env.bash
Due: none

feat: Use default merge body
  .kodiak.toml
Due: none

feat: Include coauthors to merge commit message
  .kodiak.toml
Due: none

Path conditions:
  black: any of: \.py$
  hadolint: any of: Dockerfile
  isort: any of: \.py$
  mypy: any of: \.py$
  pylint: any of: \.py$
  yamlfmt: any of: \.(yaml|yml)$
  yamllint: any of: \.(yaml|yml)$
