Repository linz/geostore: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, pylint, yamlfmt, yamllint

.pre-commit-config.yaml:

---
# Configuration file for pre-commit (https://pre-commit.com/).
# Please run `pre-commit run --all-files` when adding or changing entries.

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            args: [--check, --diff]
            language: system
            stages: [commit]
            types: [python]

          - id: gitlint
            name: gitlint
            entry: gitlint
            args: [--msg-filename]
            language: system
            stages: [commit-msg]

          - id: isort
            name: isort
            entry: isort
            args: [--check, --diff]
            language: system
            stages: [commit]
            types: [python]

          - id: pylint
            name: pylint
            entry: pylint
            language: system
            stages: [commit]
            types: [python]

          - id: yamlfmt
            name: yamlfmt
            entry: yamlfmt
            language: system
            stages: [commit]
            types: [yaml]

          - id: yamllint
            name: yamllint
            entry: yamllint
            args: [--format=parsable, --strict]
            language: system
            stages: [commit]
            types: [yaml]

refactor(infra): CDK stack code cleanup
  infra/app.py
  infra/data_stores/data_lake_stack.py
  infra/datalake/__init__.py
  infra/datalake/datalake_stack.py
Due: black, isort, pylint

feat: Tweak commit hooks (#54)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .kodiak.toml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

fix: remove formatting from endpoint variable
  infra/datalake/datalake_stack.py
Due: black, isort, pylint

ci: Add Bash script linter `shellcheck` to pre-commit hook
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

ci: Lint Bash scripts in CI
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

style: Add shellcheck (#53)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

style: Simplify getting environment variable with default
  infra/app.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
Due: black, isort, pylint

ci: replace deprecated 'set-env' command with environment file
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

style: Simplify getting environment variable with default (#60)
  infra/app.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
Due: black, isort, pylint

style: Don't require docstrings
  .pylintrc
Due: none

feat: Tag acceptance tests as such
  infra/tests/test_lambda_functions.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
  pyproject.toml
Due: black, isort, pylint

feat: Lint only on Python 3.6 and 3.8
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

feat: Unlock shellcheck-py version
  poetry.lock
  pyproject.toml
Due: none

feat: Install Node.js packages locally
  .gitignore
  README.md
  package-lock.json
  package.json
Due: none

feat: Don't include final full stop in error by default
  backend/endpoints/utils.py
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Don't include final full stop in error by default (#67)
  backend/endpoints/utils.py
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Lint only on Python 3.6 and 3.8 (#69)
  .github/workflows/ci.yml
Due: yamlfmt, yamllint

feat: Install Node.js packages locally (#72)
  .gitignore
  README.md
  package-lock.json
  package.json
Due: none

feat: Tag acceptance tests as such (#68)
  infra/tests/test_lambda_functions.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
  pyproject.toml
Due: black, isort, pylint

feat: Tweak documentation formatting
  README.md
Due: none

style: Don't require docstrings (#66)
  .pylintrc
Due: none

feat: Tweak documentation formatting (#73)
  README.md
Due: none

feat: Unlock shellcheck-py version (#70)
  poetry.lock
  pyproject.toml
Due: none

feat: Upgrade packages
  poetry.lock
Due: none

feat: Use Poetry "extras" to keep dependencies separate
  .github/workflows/ci.yml
  README.md
  backend/endpoints/bundle.bash
  backend/endpoints/datasets/requirements.txt
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

feat: Use poetry extras for subprojects (#74)
  .github/workflows/ci.yml
  README.md
  backend/endpoints/bundle.bash
  backend/endpoints/datasets/requirements.txt
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

fix: Put bundled Python files in the right directory
  backend/endpoints/bundle.bash
Due: none

fix: Put bundled Python files in the right directory (#75)
  backend/endpoints/bundle.bash
Due: none

test: Clarify infrastructure test tag
  infra/tests/test_lambda_functions.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
  pyproject.toml
Due: black, isort, pylint

docs: Add documentation for upgrading Git hooks
  README.md
Due: none

test: Mark tests using DynamoDB as 'infrastructure'
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

style: Remove redundant comments
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Randomize test sequence
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

test: Clarify infrastructure test tag (#91)
  backend/tests/test_datasets_endpoint.py
  infra/tests/test_lambda_functions.py
  infra/tests/test_stack.py
  infra/tests/test_storage_bucket.py
  pyproject.toml
Due: black, isort, pylint

style: Remove redundant comments (#92)
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint

feat: Randomize test sequence (#93)
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
Due: yamlfmt, yamllint

feat: Use relative import for local code
  infra/app.py
Due: black, isort, pylint

docs: Add documentation for upgrading Git hooks (#88)
  README.md
Due: none

fix: Typo in test name
  backend/tests/test_datasets_endpoint.py
Due: black, isort, pylint
